body{
  margin: 0;
  background-image: url('../image/bg-all@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #302319;
  background-position: center;
  overflow: hidden;
}
:root{
  --cardPosition: -100%;
}
section{
  width: 100%;
  padding-top: 100px;
  overflow: auto;
}
@media only screen and (min-width:1350px) {
  section{
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
  }
}

.placement{
  display: flex;
  width: 100%;
  min-width: 1080px;
  justify-content: space-between;
}
.temporaryStorages,.countStorages{
  display: flex;
  position: relative;
}

.randomCards{
  margin-top: 1rem;
  font-size: 0;
  width: 100%;
  min-width: 1080px;
}
.randomCards::after{
  content: "";
  display: inline-block;
  clear: both;
}
.cardStorage,.card{
  width: 110px;
  height: 145px;
  margin-left: 1.5rem;
  border: 1px solid #EDEDED;
  border-radius: 6px;
}
.card{
  margin-left: 0;
}
.randomCards__column{
  height: auto;
  min-height: 145px;
  vertical-align: top;
}
.cardStorage.over {
  border: 2px dashed #EDEDED;
}
.cardStorage:first-child{
  margin-left: 0;
}

.randomCards__column{
  position: relative;
  display: inline-block;
}
.randomCards__column:nth-of-type(5),.randomCards__column:nth-of-type(6),.randomCards__column:nth-of-type(7),.randomCards__column:nth-of-type(8){
  float: right;
}
.randomCards__column>.card{
  margin-top: calc(var(--cardPosition));
  border: none;
}
.randomCards__column>.card:nth-of-type(1){
  margin-top: 0;

}
.countStorages__item>.card{
  position: absolute;
  top:0;
  left: 0;
}
